@import "../../styles/colors.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .form {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 400px;
    background-color: $white;
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 2.5rem;
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
